<div class="container">
    <div class="h3">Access Denied</div>
    <div>You do not have permission to view this page.<br />
        Would you like to <a asp-controller="Authentication" asp-action="Logout">log in as someone else</a>?
    </div>
</div>
