<header class="header">
  <span class="header-title">Image Gallery BFF Client</span>
  <span class="header-logged">
    @if (!isLoggedIn()) {
      <span>You are not logged in.</span>
      <button (click)="login()">Login</button>
    } @else {
      <span>Logged in as: {{ loggedUserName() }}</span>
      <button (click)="logout()">Logout</button>
    }
  </span>
</header>
<section>
  @if (isLoggedIn()) {
    <h1>Images</h1>
    <button (click)="getImages()">Fetch Images</button>
    @if (images().length > 0) {
      <table>
        <thead>
          <tr>
            <th>Id</th>
            <th>Title</th>
            <th>File Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let image of images()">
            <td>{{ image.Id }}</td>
            <td>{{ image.Title }}</td>
            <td>{{ image.FileName }}</td>
          </tr>
        </tbody>
      </table>
    }
  }
</section>
